.mission-list h2 {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 레이아웃 */
  gap: 20px;
  width: 680px;
  height: 500px;
  margin: 0 auto;
}

.mission-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.mission-card h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.mission-card .description {
  font-size: 20px;
  font-weight: 600;
  color: #acacb3;
}
