.login-button {
  padding: 10px 20px;
  height: 40px;
  background-color: #5f52ff;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* .login-button:hover {
    background-color: #4A40CC; */
